@charset "UTF-8";

:root {
 --cor1: #007519;
 --cor2: #4AF76F;
 --cor3: #01F534;
 --cor4: #237535;
 --cor5: #00C22A;

}

body {
    position: unset;
}

.bnavegacao {
    background-image: linear-gradient(2deg, var(--cor1), rgba(0, 0, 0, 0.555) 60%);
    border-radius: 0px 0px 10px 10px;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.644);
}

.row {
    max-width: 100%;
}
.links_nav {
    align-items: center;
    padding: 0;
}

.nav-link {
    color: var(--cor3);
}

.bnavegacao a:hover {
    color: var(--cor1);
}

#inicio {
    width: 100%;
    height: 94vh;
    position: relative;
    flex-direction: column;
    display: flex;
    overflow: hidden;

}

#inicio .linha {
    position: relative;
    display: flex;
    padding: 10px ;
    font-size: 32px;
    white-space: nowrap;
    transform: rotate(-30deg) translate(-0%,-440%);
}


i {
    color: rgba(0, 0, 0, 0.474);
    padding: 0 10px;
    transition: 1s;
    user-select: none;
    cursor: default;
}

i:hover {
    transition: 0s;
    color: var(--cor3);
    text-shadow: 0px 0px 120px #01F534;
}

.linha div {
    animation: move_pro_lado 20s linear infinite;
}

.linha:nth-child(even) div {
    animation: move_pro_outro_lado 20s linear infinite;
}



@keyframes move_pro_lado {
    0% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-61%);
    }

    100% {
        transform: translateX(5%);
    }
}

@keyframes apagar {
    to {
        opacity: 0;
    }
}

@keyframes move_pro_outro_lado {
    0% {
        transform: translateX(5%);
    }

    40% {
        transform: translateX(-44.8%);
    }

    100% {
        transform: translateX(5%);
    }
}

@keyframes apagar {
    to {
        opacity: 0;
    }
}

.vidro {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 500px;
    height: 270px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 #4AF76F30;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    pointer-events: none;
}

.vidro p {
    color: #212529;
    line-height: normal;
    text-align: center;
    font-size: 190%;
    margin-top: 7%;
    font-weight: 500;
}

.vidro span {
    display: block;
}

.f1 {
    font-size: 120%;
}

.f2 {
    font-size: 80%;
}
.f3 {
    font-size: 150%;
    color: #111214;
}
.f4 {
    font-size: 80%;
}
#sobre, #tecnologias, #projetos{
    visibility: hidden;
}

.texto-principal {
    position: relative;    
}

.texto-principal > p {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%; 
}

#sobre {
    background-color: var(--cor2);
}

#sobre img {
    margin: auto;
    border-radius: 50%;
    text-shadow: 1px 1px 1px black;
    display: table;
    height: 95%;
    min-height: 250px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.575);
}

#que-sou-eu {
    line-height: 1.7em;
    font-size: 1.1em !important;
    font-weight: 600;
    text-align: justify;   
}

.ajust {
    
    overflow: hidden;
    position: relative;
}

.marca-texto {
    position: fixed;
    display: none;
    top: 10vh;
    right: -2vw;
    background-image: linear-gradient(90deg, var(--cor1), var(--cor3));
    width: 100px;
    height: 100px;
    cursor: grab;
    border-radius: 50% 0px 0px 50%;
    animation-name: slide-marca-texto;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateX(55px);
}

.marca-texto:active {
    cursor: grabbing;
}

@keyframes slide-marca-texto {   
    to {
        opacity: 1;
        transform: translateX(0);        
    }
}

@keyframes fecha-marca-texto {
    from {
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(80px);
    }
}

.relativa {
    position: relative;
}
.corpo-marcacao {
    position: absolute;
    margin-left: 60px;
    background-image: linear-gradient(90deg, var(--cor1), var(--cor3));
    height: 100px;
    width: 250vh;
}

.p-branca {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 50% 0px 0px 50%;
}

@media (max-width: 1246px) {
    .ajust {
        width: 100%;
    }
    .ajust-foto {
        width: 100%;
    }

}

#que-sou-eu strong {
    font-weight: 700;   
}
 

/* Tecnologia */

#tecnologias {
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(178deg, var(--cor2), var(--cor3));
}

#arvore {
    height: 90vh;
    width: auto;
    
}    

#linhas path {
    stroke-width: 9;
}

@media (max-width: 900px) {
    #arvore {
        height: unset;
        max-height: 100vh;
        display: block;
        margin: auto;
        width: 100vw;
    }
    #linhas, #imagens {
        transform-origin: unset;
        transform: rotate(90deg);
    }

    #imagens > a{
        transform: rotate(270deg);
        transform-box: fill-box;
        transform-origin: unset;
    }



} @media (min-width: 901px) {
 

}



/* FIM Tecnologia*/
.carousel-item {
    height: 500px;
}

.caixa-linha {
    height: 100%;
    margin: 0;
}

.caixa-projeto {
    position: relative;
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    margin-top: 18vmin !important;
    background-color: white;
    margin: auto;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.titulo-projeto {
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

.faixa-caixa-vazia {
    width: 33vw;
    height: auto;
    position: absolute;
    top: 94%;
    left: 27%;
    transform: rotate(38deg) translate(-50%, -50%);  
}


.col-12 > a {
    display: none;
}

@media (min-width: 992px) {
    .primeira-caixa {
        margin-left: 12vw;
    }
}

@media (max-width: 991px) {
    .titulo-projeto {
        margin-top: 10px;
        position: unset;
    }

    .faixa-caixa-vazia {
        width: 129%;
        position: absolute;
        top: 94%;
        left: 20%;
        transform: rotate(43deg) translate(-50%, -50%);
    }
    
    .caixa-projeto {
        margin-top: 10% !important;
        width: 36vw;
        height: 28vw;
    }

    .carousel-item {
        height: unset;
    }
    
    .col-12 > a {
        display: unset !important;
    }
    
    .carousel-control-next {
        background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.808));
    }
    .carousel-control-prev {
        background-image: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.808));
    }
}

.descricao {
    text-align: justify;
    color: white;
}

.area3d {
    position: absolute;
    width: 100%;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes puxar-info {
    from {
        width: 0%;
        left: 110%;
    }
    to {
        left: 100%;
        width: 100%;
    }
}

@keyframes e-para-d {
    to {
        width: 0%;
        left: 110%;
    }
}

@keyframes puxar {
    to {
        transform: rotate3d(0, 0, 1, 60deg);
    }    
}

.informacao {
    display: none;
    animation-duration: 2s;
    overflow: hidden;
    width: unset !important;
    transform-style: preserve-3d;
    background-color: var(--cor2);
    font-size: 1.5em;
    padding: 20px;
    background-image: url('https://i.pinimg.com/736x/81/68/73/8168730f928cfcfa347f3e5e3d6b3728.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.linha-info {
    text-align: justify;
    min-width: 98vw;
}

.caixa-img {
    position: relative;
}

.informacao img {
    padding: 50px 0px;
    position: absolute;
    transform: translate(-10%, -50%);
    width: 100%;
    filter: drop-shadow(3px 2px 6px black);
    animation-name: flutuar;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.informacao span {
    color: rgba(0, 0, 0, 0.705);
    font-size: 0.8em;
    display: block;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
}

@media (max-width: 900px) {
    .area3d {
        overflow-y: scroll;
        max-height: 75vh;
    }
    .informacao img {
        transform: translate(-51%, -50%);
        width: 225%;
        max-width: 80px;
        animation-name: flutuar1;
    }
    @keyframes flutuar1 {
        50% {
            transform: translate(-45%, -53%);
        }
    
        100% {
            transform: translate(-51%, -50%);
        }
    }
    .informacao img:active {
        
        width: 225%;
        filter: unset;
    }
    @keyframes e-para-d {
        90% {
            width: 0%;
            left: 110%;
            top: 100%;
        }

        100% {
            left: 1500%;
            display: none;
        }
    }
    .informacao p {
        text-align: justify;
        padding-right: 25px;
    }
}



.informacao img:hover {
    width: 110%;
    cursor: pointer;
}

.informacao img:active {
    width: 90%;
    filter: unset;
}

@keyframes flutuar {

    50% {
        transform: translate(-7%, -53%);
    }

    100% {
        transform: translate(-10%, -50%);
    }
    
}
























footer {
    font-size: 1.1em;
    color: rgb(24, 23, 23);
    background-image: linear-gradient(90deg, var(--cor1),var(--cor3),var(--cor2),var(--cor5),var(--cor4));
    height: 200px;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

footer a {
    display: unset !important;
}

footer img {
    filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.548));
    margin: 10px;
    width: 50px;
    transition: 0.1s;
}

footer img:active {

    filter: unset;
    width: 40px;
}
.copy {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.658);
}