
:root {
    --cor1: #007519;
    --cor2: #4AF76F;
    --cor3: #01F534;
    --cor4: #237535;
    --cor5: #00C22A;   
   }

body {
    background-color: #212529;
}
h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

@media (max-width: 560px) {
    h1 {
    font-size: clamp(13px,10vw,35px);
}
}

.conte-video {
    position: relative;
    margin: auto;
    border: 10px solid #007519;
    width: 90vw;
    height: 50vh;
    max-width: 560px;
    max-height: 315px;
}
iframe {
    box-shadow: 0px 0px 20px 10px #4af7708f;;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    height: 90%;
    width: 90%;
}
section {
    width: 100%;
}

article {
    background-image: url('../imagens/papel-amarelo.jpg');
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    margin: auto;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    min-height: 90vh;
    box-shadow:2px 3px 7px rgba(0, 0, 0, 0.589);
    display: none;
} article:nth-child(2) {
    display: unset;
} article > * {
    pointer-events: none;
}

article h2, h3 {
    text-align: center;
    margin: 0;
}

article h2 {
    font-size: clamp(16px, 7vw, 27px);
}

article h3 {
    font-size: clamp(16px, 7vw, 20px);
}

article h1 {
    padding-top: 40px;
    margin: 0;
    margin-bottom: 30px;
}


article p:nth-child(3) {
    margin-top: 1% ;
}

article > p {
    margin-bottom: 0;
    line-height: 42px;
    width: 85%;
    margin-top: 2%;
    margin: auto;
}
.indent {
    margin-left: 10% ;
}

#papel-amarelo {
    transform: translate(0px, -58px);
}

.img-robo {
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 50%;
    min-width: 260px;
}

article div {
    text-align: center;
}

.img-robo-ini {
    margin: auto;
    margin-top: 10px;
    max-width: 50%;
    min-width: 260px;
}

.img-robo-fim {
    margin: auto;
    margin-top: 10px;
    max-width: 47%;
    min-width: 260px;
}

.parag3 {
    margin-top: 3.5%;
}

.parag4 {
    margin-top: 3%;
}

.parag5 {
    margin-top: 3.9%;
}

.parag6 {
    margin-top: 4.3%;
}

.parag7 {
    margin-top: 1.6%;
}

.parag8 {
    margin-top: 1.5%;
}

.parag9 {
    margin-top: 3.5%;
}

.conteudo {
    position: relative;   
    top: -821px;
    animation-name: puxar-conteudo;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 100%;
}

.envelope {
    z-index: 2;
    background-image: url(../imagens/textura-envelope.jpg);
    height: 115vh;
    width: clamp(300px, 100%, 800px);
    margin: 100px auto;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    animation-name: sumir-envelope;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.div-relativa {
    position: relative;
    margin: auto;
    width: clamp(300px, 100%, 800px);
}

.aba-envelope {
    filter: drop-shadow(2px 4px 6px black) brightness(0.9);
    background-image: url(../imagens/textura-envelope.jpg);
    width: clamp(300px, 100%, 800px);
    position: absolute;
    margin: auto;
    display: block;
    height: 100px;
    border-radius: 0px 0px 100px 100px;
    transform: rotateX(0deg);
    transform-origin: top;
    top: 100px;
    z-index: 3;
    animation-name: abrir-envelope;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes abrir-envelope {
    0% {
        transform: rotateX(0deg);
    } 100% {
        transform: rotateX(180deg);
        z-index: 0;
    }
}

@keyframes puxar-conteudo {
    0% {          
        top: -821px;
    } 100% {
        top: -899px;
        opacity: 1;
    }
}

@keyframes sumir-envelope {
    0% {
        opacity: 1;

    } 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        z-index: 0;
    }
    
}

nav#puxador {
    display: flex;
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    width: 100%;
    max-width: 800px;
    height: 30px;
    z-index: 1;
}

div.puxador {
    background-image: url(../imagens/papel-amarelo.jpg);
    width: clamp(73px, 17%, 200px);
    text-align: center;
    border-radius: 63px 234px 0px 0px;
    filter: brightness(0.8);
    box-shadow: 5px -2px 9px -1px rgba(0, 0, 0, 0.534);
    cursor: pointer;
} div.puxador:active {
    box-shadow: unset;
    transform: scale(0.9) !important;
}

.b-voltar-ancora {
    text-decoration: none;
    color: #212529;
}

.b_voltar {
    text-align: center;
    height: 50px;
    width: 200px;
    background-color: var(--cor5);
    margin: 0px auto 20px auto ;
    cursor: pointer;
} .b_voltar:active {
    transform: scale(0.9);

}
.b_voltar p{
    margin: 0;
    padding:13px;
}

footer {
    text-align: center;
    height: 70px;
    background-image: linear-gradient(90deg, var(--cor1),var(--cor3),var(--cor2),var(--cor5),var(--cor4));
}

.copy {
    font-size: 20px;
    font-weight: 600;
    padding: 23px;
}