body {
    background-color: #212529;
}
h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

@media (max-width: 560px) {
    h1 {
    font-size: clamp(13px,10vw,35px);
}
}

.conte-video {
    position: relative;
    margin: auto;
    border: 10px solid #007519;
    width: 90vw;
    height: 50vh;
    max-width: 560px;
    max-height: 315px;
}
iframe {
    box-shadow: 0px 0px 20px 10px #4af7708f;;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    height: 90%;
    width: 90%;
}
section {
    width: 100%;
}
#envelope {
    position: relative;
    margin: 0 auto;
    top: -388px;
}

article {
    background-image: url('../imagens/papel-amarelo.jpg');
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    min-height: 90vh;
}

article h2, h3 {
    text-align: center;
    margin: 0;
}

article h2 {
    font-size: clamp(16px, 7vw, 27px);
}

article h3 {
    font-size: clamp(16px, 7vw, 20px);
}

article h1 {
    padding-top: 40px;
    margin: 0;
    margin-bottom: 30px;
}


article p:nth-child(3) {
    margin-top: 1% ;
}

article p {
    margin-bottom: 0;
    line-height: 42px;
    width: 85%;
    margin-top: 2%;
    margin: auto;
}
.indent {
    margin-left: 10% ;
}

#papel-amarelo {
    transform: translate(0px, -58px);
}

.img-robo {
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 50%;
    min-width: 260px;
}

article div {
    text-align: center;
}

.img-robo-ini {
    margin: auto;
    margin-top: 10px;
    max-width: 50%;
    min-width: 260px;
}

.img-robo-fim {
    margin: auto;
    margin-top: 10px;
    max-width: 47%;
    min-width: 260px;
}

.parag3 {
    margin-top: 3.5%;
}

.parag4 {
    margin-top: 3%;
}

.parag5 {
    margin-top: 3.9%;
}

.parag6 {
    margin-top: 4.3%;
}

.parag7 {
    margin-top: 1.6%;
}

.parag8 {
    margin-top: 1.5%;
}

.parag9 {
    margin-top: 3.5%;
}

svg.envelope {
    display: block;
    margin: 40px auto 0px auto;
}

#aba-fechada {
    animation-name: abrir-aba-baixo-envelope;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#aba-tras {
    transform: translate(0, 106px);
    animation-name: abrir-aba-cima-envelope;
    animation-delay: 0.4s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes abrir-aba-baixo-envelope {
    from {
        transform: rotateX(5deg);
    }

    to {
        transform: rotateX(59deg);
    }
} @keyframes abrir-aba-cima-envelope {
    from {
        transform: translate(0, 106px);
    }
    to {
        transform: translate(0, 0px);
    }
}